.navbar{
    background: #232F3E;
}
.carousel-caption h5, .carousel-caption p{
    text-shadow: 0px 2px 2px rgba(244, 226, 132, 0.4);
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 80%;
}
.thumbnail .caption {
    margin: 7px;
}
.main-section {
    background-color: #f8f8f8;
}
.dropdown {
    float: right;
    padding-right: 30px;
}
a.btn-shop{
    border-radius:10px;
    padding:8px 10px;
}
.btn {
    border: 0px;
    margin: 10px 0px;
    box-shadow: none !important;
}
.dropdown .dropdown-menu {
    padding: 20px;
    top: 30px !important;
    width: 350px !important;
    left: -110px !important;
    box-shadow: 0px 5px 30px black;
}
.total-header-section {
    border-bottom: 1px solid #d2d2d2;
}
.total-section p {
    margin-bottom: 20px;
}
.cart-detail {
    padding: 15px 0px;
}
.cart-detail-img img {
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.cart-detail-product p {
    margin: 0px;
    color: #000;
    font-weight: 500;
}
.cart-detail .price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
}
.cart-detail .count {
    color: #c2c2dc;
}
.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary {
    border-radius: 50px;
    height: 50px;
}
.dropdown-menu:before {
    content: " ";
    position: absolute;
    top: -20px;
    right: 50px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}
.btn-checkout {
    border-radius: 10px !important;
}
